{% extends "../layout/base.php.twig" %}
{% block titulo %} Inicio {% endblock %}
 

 {% block content %}
  <div id="preloader"></div>

  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <a href="#hero"><img src="img/umbooks.png" alt="" title="" /></img></a>
   
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="/">Home</a></li>
        </ul>
      </nav>
   
    </div>
  </header>

  <section id="subscribe">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-8">
          <h1 class="subscribe-title">Resultados de la busqueda</h1>
        </div>
      </div>
    </div>
  </section>


  <section id="portfolio">
    <div class="container wow fadeInUp">
    <div class="col-md-offset-0">
     
      <div class="row">
      <!-- foreach -->
      
      <!-- hay que dejar todo en un for each -->
      
	<!-- for each -->
        <!-- <div class="col-md-3">
          <a class="portfolio-item" style="background: url(img/portfolio-2.jpg) no-repeat;" href="detalleslibro.php.twig">
            <div class="details">
              <h4>Nombre del libro</h4>
              <span></span>
            </div>
          </a>
        </div> -->

        <!-- <div class="col-md-3">
          <a class="portfolio-item" style="background: url(img/portfolio-2.jpg) no-repeat;" href="">
            <div class="details">
              <h4>Nombre del libro</h4>
              <span></span>
            </div>
          </a>
        </div> -->

        <!-- <div class="col-md-3">
          <a class="portfolio-item" style="background: url(img/portfolio-2.jpg) no-repeat;" href="">
            <div class="details">
              <h4>Nombre del libro</h4>
              <span></span>
            </div>
          </a>
        </div> -->
     </div>

      
      <!-- <div class="row"> 
        <div class="col-md-3">
          <a class="portfolio-item" style="background: url(http://books.google.com/books/content?id=zyTCAlFPjgYC&printsec=frontcover&img=1&zoom=3&edge=curl&imgtk=AFLRE71-ADkJZZJ0Pm3-88OyX1xIUgASV4vFrRZwHpdX3nKTiP4J2_Dg6hvfj8Zg_ht9vWcHW4L_QvCBrUL79uVGoQ91HtR_gEr9AiJjdz-3yPSOOLwJ0o_oFfBqy24t9Ny6VFmYKNp4&source=gbs_api) no-repeat;" href="">
            <div class="details">
              <h4>Nombre del libro</h4>
              <span>?</span>
            </div>
          </a>
        </div>

        <div class="col-md-3">
          <a class="portfolio-item" style="background: url(img/portfolio-2.jpg) no-repeat;" href="">
            <div class="details">
              <h4>Nombre del libro</h4>
              <span></span>
            </div>
          </a>
        </div>

        <div class="col-md-3">
          <a class="portfolio-item" style="background: url(img/portfolio-2.jpg) no-repeat;" href="">
            <div class="details">
              <h4>Nombre del libro</h4>
              <span></span>
            </div>
          </a>
        </div>

        <div class="col-md-3">
          <a class="portfolio-item" style="background: url(img/portfolio-2.jpg) no-repeat;" href="">
            <div class="details">
              <h4>Nombre del libro</h4>
              <span></span>
            </div>
          </a>
        </div>
      </div> -->
    </div>
    </div>
  </section>
 
 {% endblock %}


