{% extends "../layout/base.php.twig" %}
{% block titulo %} UM-Books {% endblock %}

 {% block content %}
  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <a href="#hero"><img src="img/umbooks.png" alt="" title="" /></img></a>
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="/index/">Home</a></li>
        </ul>
      </nav>
    </div>
  </header>
 
  <section id="subscribe">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-8">
          <h1 class="subscribe-title">NOMBRE DEL LIBRO</h1>
          <h2>Autor del libro</h2>
        </div>
      </div>
    </div>
  </section>
 
    <section id="testimonials">
    <div class="container wow fadeInUp">

      <div class="row">
        <div class="col-md-3">
          <div class="member">
            <div class="pic"><img src="http://books.google.com/books/content?id=zyTCAlFPjgYC&printsec=frontcover&img=1&zoom=3&edge=curl&imgtk=AFLRE737T6brxpnYH2tpdw-S-Q6uOpC6zcfnGDYU-lHUZDcqQQYX4sgZfJw7zFqo9rIArYHWAzvewR-DHv9mbOt_nSnDfHWBzgGJ7gyRe4Tn3CnaQek1NZGBrIxwnb7Sbg2uRXGfpLLj&source=gbs_api" alt=""></div>
          </div>
        </div>
        <div class="col-md-6 col-md-offset-2 parrafo">
          <div class="cuadrotexto">
            Resumen del libro Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores unde error earum ratione repellendus distinctio quia dolor sint nesciunt dignissimos minima quis nulla quos doloribus reprehenderit eligendi dolores, quasi accusantium!
          </div>
        </div>
      </div>
    </div>
  </section>
  
  
    <section id="testimonials">
      <div class="row fila">
        <div class="col-6 col-offset-2">
          <div class="panel panel-primary bordespaneles1 paneles">
            <div class="panel-heading colorpanel1">
              <h3 class="panel-title">Categoria</h3>
            </div>
            <div class="panel-body">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae esse a, quam odit labore ab cum beatae reiciendis quidem, odio temporibus sit alias dolorum distinctio eius voluptates ex ut deleniti.
            </div>
          </div>
        </div>
        
        <div class="col-6 col-offset-2">
          <div class="panel panel-primary bordespaneles2 paneles">
            <div class="panel-heading colorpanel2">
              <h3 class="panel-title">Editorial</h3>
            </div>
            <div class="panel-body">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum libero laboriosam optio dicta autem porro cumque omnis atque error, itaque nihil eius consectetur quod sapiente fuga delectus voluptatem rerum, iure!
            </div>
          </div>
        </div>
      </div>
      <div class="row fila">
        <div class="col-6 col-offset-2">
          <div class="panel panel-primary bordespaneles3 paneles">
            <div class="panel-heading colorpanel3">
              <h3 class="panel-title">Lenguaje</h3>
            </div>
            <div class="panel-body">
              Lenguaje
            </div>
          </div>
        </div>
        
        <div class="col-6 col-offset-2 cadapanel">
          <div class="panel panel-primary bordespaneles4 paneles">
            <div class="panel-heading colorpanel4">
              <h3 class="panel-title">Raiting</h3>
            </div>
            <div class="panel-body">
              raiting
            </div>
          </div>
        </div>
      </div>  
      <div class="padreboton">
           <input type="button" class="btn btn-primary btn-lg fondoboton" name="masinformacion" onclick="location.href='https://www.google.com.ar/'" value="VER EN GOOGLEBOOKS">
      </div>
    </section>  
 
  <section id="portfolio">
  <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-12">
          <div class="section-title-divider recomendacion"></div>
          <h3 class="section-title">Recomendaciones</h3>
        </div>
      </div>

     
      <div class="row">  
        <div class="col-md-3">
          <a class="portfolio-item" style="background: url(http://books.google.com/books/content?id=zyTCAlFPjgYC&printsec=frontcover&img=1&zoom=3&edge=curl&imgtk=AFLRE71-ADkJZZJ0Pm3-88OyX1xIUgASV4vFrRZwHpdX3nKTiP4J2_Dg6hvfj8Zg_ht9vWcHW4L_QvCBrUL79uVGoQ91HtR_gEr9AiJjdz-3yPSOOLwJ0o_oFfBqy24t9Ny6VFmYKNp4&source=gbs_api) no-repeat;" href="">
            <div class="details">
              <h4>Nombre del libro</h4>
              <span>?</span>
            </div>
          </a>
        </div>

        <div class="col-md-3">
          <a class="portfolio-item" style="background: url(http://books.google.com/books/content?id=2zgRDXFWkm8C&printsec=frontcover&img=1&zoom=2&edge=curl&imgtk=AFLRE71kpHAdzY54hcee0eZxs7727hYmiIHxru77Rhv8wDNp7DPv1xRE1JmdJ4kuCg3aj616D0MT7ReacIeBDmNEdzO0qOqGjmbE79nbpMnf5iLiUiKwUqqpKytRwwT8VjIT8UobGXzK&source=gbs_api) no-repeat;" href="">
            <div class="details">
              <h4>Nombre del libro</h4>
              <span></span>
            </div>
          </a>
        </div>

        <div class="col-md-3">
          <a class="portfolio-item" style="background: url(http://books.google.com/books/content?id=2zgRDXFWkm8C&printsec=frontcover&img=1&zoom=2&edge=curl&imgtk=AFLRE71kpHAdzY54hcee0eZxs7727hYmiIHxru77Rhv8wDNp7DPv1xRE1JmdJ4kuCg3aj616D0MT7ReacIeBDmNEdzO0qOqGjmbE79nbpMnf5iLiUiKwUqqpKytRwwT8VjIT8UobGXzK&source=gbs_api) no-repeat;" href="">
            <div class="details">
              <h4>Nombre del libro</h4>
              <span></span>
            </div>
          </a>
        </div>

        <div class="col-md-3">
          <a class="portfolio-item" style="background: url(http://books.google.com/books/content?id=2zgRDXFWkm8C&printsec=frontcover&img=1&zoom=2&edge=curl&imgtk=AFLRE71kpHAdzY54hcee0eZxs7727hYmiIHxru77Rhv8wDNp7DPv1xRE1JmdJ4kuCg3aj616D0MT7ReacIeBDmNEdzO0qOqGjmbE79nbpMnf5iLiUiKwUqqpKytRwwT8VjIT8UobGXzK&source=gbs_api) no-repeat;" href="">
            <div class="details">
              <h4>Nombre del libro</h4>
              <span></span>
            </div>
          </a>
        </div>
      </div>

      
      <div class="row"> 
        <div class="col-md-3">
          <a class="portfolio-item" style="background: url(http://books.google.com/books/content?id=zyTCAlFPjgYC&printsec=frontcover&img=1&zoom=3&edge=curl&imgtk=AFLRE71-ADkJZZJ0Pm3-88OyX1xIUgASV4vFrRZwHpdX3nKTiP4J2_Dg6hvfj8Zg_ht9vWcHW4L_QvCBrUL79uVGoQ91HtR_gEr9AiJjdz-3yPSOOLwJ0o_oFfBqy24t9Ny6VFmYKNp4&source=gbs_api) no-repeat;" href="">
            <div class="details">
              <h4>Nombre del libro</h4>
              <span>?</span>
            </div>
          </a>
        </div>

        <div class="col-md-3">
          <a class="portfolio-item" style="background: url(http://books.google.com/books/content?id=2zgRDXFWkm8C&printsec=frontcover&img=1&zoom=2&edge=curl&imgtk=AFLRE71kpHAdzY54hcee0eZxs7727hYmiIHxru77Rhv8wDNp7DPv1xRE1JmdJ4kuCg3aj616D0MT7ReacIeBDmNEdzO0qOqGjmbE79nbpMnf5iLiUiKwUqqpKytRwwT8VjIT8UobGXzK&source=gbs_api) no-repeat; " href="">
            <div class="details">
              <h4>Nombre del libro</h4>
              <span></span>
            </div>
          </a>
        </div>

        <div class="col-md-3">
          <a class="portfolio-item" style="background: url(http://books.google.com/books/content?id=2zgRDXFWkm8C&printsec=frontcover&img=1&zoom=2&edge=curl&imgtk=AFLRE71kpHAdzY54hcee0eZxs7727hYmiIHxru77Rhv8wDNp7DPv1xRE1JmdJ4kuCg3aj616D0MT7ReacIeBDmNEdzO0qOqGjmbE79nbpMnf5iLiUiKwUqqpKytRwwT8VjIT8UobGXzK&source=gbs_api) no-repeat;" href="">
            <div class="details">
              <h4>Nombre del libro</h4>
              <span></span>
            </div>
          </a>
        </div>

        <div class="col-md-3">
          <a class="portfolio-item" style="background: url(http://books.google.com/books/content?id=2zgRDXFWkm8C&printsec=frontcover&img=1&zoom=1&edge=curl&imgtk=AFLRE70R8bJ0BDcCpX91S6eis9POmMFsO1ORKd1JO8K_PGOSonUH8-9BNhv6LUFPFo1e_sw_XYASaU70WnKGpDMZBBjdaVL_aTGW7P8lSb6pabwr7NOoHrUCigOeQ0mprJcy-S4SWb3-&source=gbs_api) no-repeat;" href="">
            <div class="details">
              <h4>Nombre del libro</h4>
              <span></span>
            </div>
          </a>
        </div>
      </div>
    </div>
    </div>
  </section>
{% endblock %}
